.button {
    font-family: "Poppins", sans-serif;
    margin-left: 20px;
    background-color: #8f8f8f;
    cursor: pointer;
    }

.button:hover {
    background-color: #cdcdcd;
}

.button:active {
    background-color: #333d53;
}